@font-face {
    font-family: "Open-Sans";
    src: url('../fonts/OpenSans.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans-Extrabold";
    src: url('../fonts/OpenSans-Extrabold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Brushstrike-trial";
    src: url('../fonts/Brushstrike-trial.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Bedas-neue";
    src: url('../fonts/Bedas-neue.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Chunkfive";
    src: url('../fonts/Chunkfive.otf');
    font-weight: normal;
    font-style: normal;
}


