*{
    margin: 0;
    padding: 0;
}
body{
    font: 20px Open-Sans ,  sans-serif;
    color: #fff;
    font-size: 14px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
p, h2, h3{
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}
     /*MESSAGE*/
.message{
    background: black;
    color: white;
    line-height: 65px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    text-align: center;
}
.message .message-close{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}
      /*HEADER*/
.header-top{
    background: rgba(255,255,255,.35);
    height: auto;
    position: absolute;
    width: 100%;
    margin:auto;
    z-index: 1;
}
.header-top-container{
    height: 86px;
    max-width: 1700px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos-wrapp {
    display: flex;
}
.logo-left{
    border-right: 3px solid #000;
    padding-right: 19px;
    margin-right: 17px;
}
.mobile-menu{
    display: none;
}
.navigation-wrapp{
    display: flex;
    align-items: center;
}

.navigation-wrapp .navigation{
    display: flex;
    align-items: center;
}
.navigation-wrapp .navigation li:not(:last-of-type){
    margin-right: 30px;
}
.navigation-wrapp .navigation li a{
    color: #fffefe;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
.cart-wrapp{
    margin-right: 8.5%;
}
.cart-wrapp a{
    font-size: 43px;
    font-weight: 400;
    line-height: 35.33px;
    text-transform: uppercase;
}
.header-main{
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('../img/header-blue-top.png'), url('../img/header-blue-center-bg.png'), url('../img/header-blue-gradient-bg.png'), url(../img/layer-52.png), url('../img/header-main-bg.png') #0d6cb6;
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-content{
    max-width: 1700px;
    margin-left: 17px;
    position: absolute;
}
.header-content h1{
    font-family: Brushstrike-trial;
    font-size: 149px;
    font-weight: 400;
    line-height: 125px;
    height: 125px;
    margin-bottom: 17px;
}
.header-content h3{
    font-family: Bebas-neue;
    font-size: 60px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 6px;
    height: 42px;
}
.header-slider{
    width: 975px;
    height: 450px;
    background-color: #252765;
    opacity: 0.36;
    position: absolute;
    right: 0;
    bottom: 0;
}

    /*MAIN*/
.main{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin:auto;
}
.main-container{
    max-width: 1780px;
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content{
    display: flex;
}
.main-content-item{
    display: flex;
    align-items: center;
}
.main-content-item p{
    color: #000;
    font-size: 25px;
    padding: 0 20px 0 10px;
    font-weight: bold;
}
.main-content-item p i{
    font-weight:normal;
}

     /*MAIN-BLACK*/
.main-black{
    width: 100%;
    height: auto;
    background-color: #000;
    margin:auto;
}
.main-black-container{
    max-width: 1700px;
    height: 215px;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.main-black-block{
    display: flex;
    align-items: center;
}
.main-black-block h3{
    font-family: "OpenSans-Extrabold";
    font-size: 48px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin-left: 23px;
}
.main-video{
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
}
.main-video-container {
    max-width: 1700px;
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
}
.main-video-content{
    display: flex;
    flex-direction: column;
    margin-left: 89px;
    width: 39%;
}
.video-item{
    width: 61%;
    padding:127px 0 0 99px;
}
.relation{
    position: relative;
}
.relation-ratio{
    padding-top:56%;
}
iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}
.gradient{
    background-image: linear-gradient(to right, #0e1555 0%, #056cb6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0e1555;
    font-family: OpenSans-Extrabold;
    font-size: 60px;
    font-weight: 400;
    /*line-height: 26px;*/
    text-transform: uppercase;
    letter-spacing: 4.5px;
}
.main-video-content h3{
    margin: 50px 0 30px 0;
}
.main-video-content h4{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.main-video-content p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    margin: 50px 0 66px;
}
.main-video-content div {
    height: 100px;
    border-left: 5px solid #e1e1e1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #056cb6;
    font-size: 34px;
    font-weight: 400;
    line-height: 38px;
}
.my-btn{
    width: 339px;
    border-radius: 54px;
    border: 2px solid #056cb6;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    line-height: 109px;
    margin: 42px 0 52px;
}
.main-video-content img{
    width: 262px;
    height: 49px;
    margin: 0 0 69px 40px;
}

        /*SLIDER*/
.slider{
    width:100%;
    height: auto;
}
.slider-container{
    max-width: 1140px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.slider h3{
    margin: 151px 0 123px 0;
}
.slider-item{
    display: flex;
    align-items: center;
}
.slider-item .item2{
    margin: 0 36px 0 40px;
}
.slider-item .item4{
    margin: 0 23px 0 22px;
}
.slider-circle{
    display: flex;
    margin:149px 0 176px 0;
}
.circle {
    width: 19px;
    height: 19px;
    background-color: #4a91c8;
    opacity: 0.75;
    border-radius: 50%;
    margin-right:15px;
}
.circle-right{
    margin: 0;
}
.slider-circle .left:hover{
    background-color: #0d6cb6;
}
.slider-circle .right:hover{
    background-color: #0d6cb6;
}
.slider-circle .center:hover{
    background-color: #0d6cb6;
}

       /*MAIN-SPORT*/
.main-sport{
    width: 100%;
    height: 900px;
    box-shadow: inset 0 0 169px rgba(4, 74, 119, 0.61);
    /*opacity: 0.4;*/
    background: url("../img/main-sport-man-bg.png"), url("../img/main-sport-blue-bg.png") #5f9ecf;
    background-size: cover;
    background-position: center;
}
.main-sport-container{
    max-width: 1006px;
    height: inherit;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-sport-title{
    color: #ffffff;
    font-family: "OpenSans-Extrabold";
    font-size: 36px;
    font-weight: 400;
    line-height: 57px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    margin-top: 17px;
    margin-bottom: 17px;
}
.main-sport-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-sport-img-2{
    padding-top: 20px;
}

    /*MAIN-SHOP*/
.main-shop{
    width: 100%;
    max-width: 1880px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 124px auto 141px auto;
}
.shop-item{
    width: 31.6%;
    background-color: #000;
    position: relative;
}
.shop-item-top{
    height: 86px;
    width: 100%;
    background-color: #e2e4e6;
    display: flex;
}
.shop-item-top img{
    width: 50%;
}
.shop-item-center{
    width: 100%;
    height: auto;
}
.main-shop-img-1{
    opacity:0.5;
}
/*.main-shop-strip{*/
    /*background: url("../img/main-shop-strip.png") no-repeat right;*/
    /*background: url("../img/main-shop-black-bg.png") no-repeat bottom;*/
/*}*/
.shop-title{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.shop-title p{
    font-family: ChunkFive;
    font-size: 58px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
}
.shop-title-bottom{
    width: 100%;
    height: 57px;
    background-color: #056ab2;
    color: #fff;
    font-family: OpenSans;
    font-size: 28px;
    font-weight: 700;
    line-height: 57px;
    text-transform: uppercase;
    margin-top: 25px;
    border: none;
}

    /*SPECIFICATIONS*/
.specifications{
    width: 100%;
    height:auto;
    background: url("../img/specification-bg.png")  no-repeat;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
.specifications-container{
    max-width: 1140px;
    height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.specifications h3{
    font-family: OpenSans-Extrabold;
    font-size: 60px;
    font-weight: 400;
    line-height: 45px;
    text-transform: uppercase;
    color: #f3f3f3;
    letter-spacing: 4.5px;
    position: relative;
    bottom: 30px;
}
.specifications p{
    font-family: OpenSans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.specifications .play{
    margin-top: 54px;
    width: 154px;
    height: 154px;
    border: 2px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}
.play .ion-ios-play-outline{
    font-size: 77px;
    color: #fff;
}

    /*FOOTER*/
.footer{
    width: 100%;
    height: 388px;
    background-color:#0d6cb6;
}
.footer-container{
    max-width: 1140px;
    margin:0 auto;
}
.footer-content{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    padding-bottom: 18px;
}
.footer-content h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4px;
}
.item-p{
    margin: 12px 0 30px 0;
}
.inbox{
    border: 1px solid #fff;
    border-radius: 5px;
    width: max-content;
}
.inbox .text{
    width: 243px;
    margin-right: -4px;
    border: none;
    background-color:#0d6cb6;
}
.inbox .submit{
    width: 57px;
    height: 40px;
    border: none;
    color: #0d6cb6;
    font-size: 25px;
    font-weight: 400;
}
.footer-menu-nav{
    display: flex;
    flex-direction: column;
}
.footer-menu-nav a{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}
.contact-block{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.footer-p p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
.contact-information-title{
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.location h6, .phone h6, .email h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.social-block{
    display: flex;
}
.social-block-icons{
    padding-left: 20px;
}
.icons{
    color: #fff;
}